.my-name {
    font-size: 25px;
    font-family: sans-serif;
    text-align: center;
}
.rounded-photo {
    border-radius: 50%;
}
.header {
    width: 50%;
    text-align: center;
    margin: 20px;
    display: inline-block;
}